<section>
    <h2>Jobs</h2>
</section>
<!-- <section>
    <div class="example-button-row">
      <button value="Jobs" (click)="onAddJobs($event)" color="primary" >Create Job Card</button>
      <input type="text" value="Jobs(click)"="onInputClick(event)"> <br>
      <p>hello</p>
    </div>
</section>-->
    <div>
        <form [formGroup]="jobCardFormGrp" (ngSubmit)="onSubmit()">
            <br>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="make">Make</label>
                    <input type="text" class="form-control" id="make" placeholder="Make" [formControl]="jobCardFormGrp.controls.make">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="model">Model</label>
                    <input type="text" class="form-control" id="model" placeholder="Model" [formControl]="jobCardFormGrp.controls.model">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="vehicleNumber">Vehicle Number</label>
                    <input type="text" class="form-control" id="VehicleNumber" placeholder="VehicleNumber" [formControl]="jobCardFormGrp.controls.vehicleNumber">
                  </div> 
                  <div class="form-group col-md-6">
                    <label for="service">Services</label>
                    <input type="text" class="form-control" id="Services" placeholder="Services" [formControl]="jobCardFormGrp.controls.services">
                  </div> 
                  <div class="form-group col-md-6">
                    <label for="service">Services</label>
                    <select id="inputState" class="form-control">
                      <option selected>Choose...</option>
                      <option>General Service</option>
                      <option>Car Wash</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="deliveryDate">Delivery Date</label>
                    <input type="text" class="form-control" id="DeliveryDate" placeholder="DeliveryDate" [formControl]="jobCardFormGrp.controls.deliveryDate">
                  </div> 
                  <div class="form-group col-md-6">
                    <label for="estimatedCost">Estimated Cost</label>
                    <input type="text" class="form-control" id="EstimatedCost" placeholder="EstimatedCost" [formControl]="jobCardFormGrp.controls.estimatedCost">
                  </div> 
                  <div class="form-group col-md-6">
                    <label for="contactNumber">Contacts Number</label>
                    <input type="text" class="form-control" id="ContactNumber" placeholder="ContactNumber" [formControl]="jobCardFormGrp.controls.contactNumber">
                  </div> 
              </div>
              <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
              </div>
              <div class="form-group">
                <label for="inputAddress2">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity">City</label>
                  <input type="text" class="form-control" id="inputCity">
                </div>
              </div>
              <br>
              <!-- <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck">
                  <label class="form-check-label" for="gridCheck">
                    Check me out
                  </label>
                </div>
              </div> -->
            <button type="submit" class="btn btn-primary">Create Job Card</button>
        </form> 
    </div>
