<section>
    <h2>Jobs</h2>
</section>

<button mat-flat-button (click)="openDialog()">Create Job Card</button>
<!-- <section>
    <div class="example-button-row">
      <button value="Jobs" (click)="onAddJobs($event)" color="primary" >Create Job Card</button>
      <input type="text" value="Jobs(click)"="onInputClick(event)"> <br>
      <p>hello</p>
    </div>
</section>-->

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">sr</th>
      <th scope="col">Make</th>
      <th scope="col">Model</th>
      <th scope="col">Vehicle Number</th>
      <th scope="col">Services</th>
      <th scope="col">Delivery Date</th>
      <th scope="col">Estimated Cost</th>
      <th scope="col">Contacts Number</th>
    </tr>
  </thead>
  @for(jobCard of jobCards; track jobCard) {

  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{jobCard.make}}</td>
      <td>{{jobCard.model}}</td>
      <td>{{jobCard.VehicleNumber}}</td>
      <td>{{jobCard.Services}}</td>
      <td>{{jobCard.deliveryDate}}</td>
      <td>{{jobCard.estimatedCost}}</td>
      <td>{{jobCard.contactNumber}}</td>
      
      
    </tr>
  </tbody>
}
</table>